<!DOCTYPE html>
<html lang="cs">
  <head>
    <title>EBC reservation system</title>
     <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-expand-lg navbar-fixed-top navbar-dark bg-primary">
    <div class="container">
    <a class="navbar-brand" href="index.html">EBC Reservations system</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Seznam budov', root_url, { :class => "nav-link"} %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Kontakt</a>
        </li>
        <li class="nav-item active">
          <%= link_to 'Admin', :admin_dashboard, { :class => "nav-link"} %>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <section class="container content-wrap">
    <%= yield %>
  </section>
  <footer class="footer">
      <div class="container">
        <p>&copy; WEB 2018 - Martin Budínský</p>
      </div>
    </footer>

  </body>

</html>
