<p id="notice"><%= notice %></p>

<p>
  <strong>Křestní jméno:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Příjmení:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Typ studia:</strong>
  <%= @student.study_type %>
</p>

<%= link_to 'Upravit', edit_admin_student_path(@student) %> |
<%= link_to 'Zpět', admin_students_path %>
